<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
	<title>Nonacus</title>

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700">
	<link rel="stylesheet" href="~/css/site.css" />
	@*<link rel="shortcut icon" type="image/x-icon" href="~/images/INFORMED_GENOMICS_LOGO_PRINCIPAL_TRANSPARENTE.png" />*@

</head>

<body class="full-body">

	<partial name="_CookieConsentPartial" />
	<div class="screen-reader-response"></div>
	@*<div class="background-image"></div>*@
	<div class="main-body">
		@RenderBody()
	</div>
	<script src="~/lib/jquery/dist/jquery-3.6.0.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@RenderSection( "Scripts", required: false )

</body>

</html>
