<div class="main-header"></div>

<form class="col-lg-3">

	<h1 class="mb-3">Forgotten password confirmation</h1>

	<div class="form-group">
		<label>Please check your email to reset your password.</label>
	</div>

</form>
