@model IdentityServer.ViewModels.Account.LoggedOutViewModel
@{
	// set this so the layout rendering sees an anonymous user
	ViewData [ "signed-out" ] = true;
}

<form class="col-lg-3" asp-route="Login">

	<h1 class="mb-3">You are now logged out</h1>

	@if ( Model.PostLogoutRedirectUri != null )
	{
		<div class="form-group right-row">
			<a class="btn btn-primary" href="@Model.PostLogoutRedirectUri">Login</a>
		</div>
	}

</form>

@if ( Model.SignOutIframeUrl != null )
{
	<iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
}

@section scripts
{
	@if ( Model.AutomaticRedirectAfterSignOut )
	{
		<script src="~/js/signout-redirect.js"></script>
	}
}
