@model IdentityServer.ViewModels.Account.LoginViewModel

@if ( Model.EnableLocalLogin )
{
	<div class="main-header"></div>

	<form class="identity-form" asp-route="Login">

		<input type="hidden" asp-for="ReturnUrl" />

		<h1 class="mb-3">Sign in to @Model.ApplicationName</h1>

		<div class="title-divider"></div>

		<div class="form-group">

			<label for="inputEmail">Email address</label>
			<input type="email" id="inputEmail" class="form-control" asp-for="Username" required autofocus>
			<span asp-validation-for="Username" class="text-danger"></span>

		</div>

		<div class="form-group">

			<label for="inputPassword">Password</label>
			<input type="password" id="inputPassword" class="form-control" asp-for="Password" required>
			<span asp-validation-for="Password" class="text-danger"></span>

		</div>

		<div class="form-group button-row">

			@if ( Model.AllowRememberLogin )
			{
				<div class="checkbox left-button">
					<input type="checkbox" class="remember-me-checkbox" value="True" asp-for="RememberLogin" id="rememberLogin"><label for="rememberLogin"> Remember me</label>
				</div>
			}

			<div class="right-button">
				<button class="btn btn-primary" type="submit" name="button" value="login">Continue</button>
			</div>

		</div>

		<div class="form-group">
			<a class="btn btn-secondary" href="@Url.Action("ForgottenPassword", "Account", new { returnUrl = Model.ReturnUrl} )">Reset Password</a>
		</div>

		@if ( Model.EnableRegistration )
		{
			<div class="form-group">
				<a class="btn btn-info" href="@Url.Action("Register", "Account", new { returnUrl = Model.ReturnUrl} )">Create Account</a>
			</div>
		}

	</form>
}

@section Scripts {
	@{ await Html.RenderPartialAsync( "_ValidationScriptsPartial" ); }
}
